<footer class="page-footer font-small blue" id="footer">

<!-- Copyright -->
<div class="footer-copyright text-center py-3">Copyright © 2018:
  <a href="https://mdbootstrap.com/bootstrap-tutorial/"> LVLbank.com</a>
</div>
<!-- Copyright -->
</footer>
