<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LVL Test Bank-Buy Exams</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/Buy-Exams.css">
</head>
<body>

<div class="main-container">
	<% include ../partials/navbar %>
	<div id="select-school">
		<h1>SCHOOL</h1>
		<select>
			<option value="" selected disabled>--School--</option>
			<option value="Lehigh University">Lehigh University</option>
			<option value="Rutgers University">Rutgers University</option>
			<option value="note">Want these in Alphabetical Order</option>
			<option value="note">And want dropdowns to be searchable</option>
		</select>
	</div>
	<div id="select-department">
		<h1>DEPARTMENT</h1>
		<select>
			<option value="" selected disabled>Unavailable until you select a school</option>
		</select>
	</div>
	<div id="select-course">
		<h1>COURSE NAME</h1>
		<select>
			<option value="" selected disabled>Unavailable until you select a department</option>
		</select>
	</div>


	<% include ../partials/footer %>

</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
