<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LVL Test Bank-Exam Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="navbar.css">
	<link rel="stylesheet" type="text/css" href="Exam-Page-Template.css">



</head>

<body>

	<div class="main-container">
		<% include ../partials/navbar %>


		<div class="jumbotron" id="jumbo-one">
			<h1 id="course-name">Math 021 - Calculus 1</h1>
			<h3 id="school">School: Lehigh University</h3>
			<span><h4 id="filter">Filter by Professor last name:</h4><select id="select-prof">
				<option>--Select a Professor--</option>
				<option>Last Name 1</option>
				<option>Last Name 2</option>
			</select>
			</span>
		</div>

		<h2>Exams:</h2>

				</div>
<div class="row">

				<a href="Exam-Details.html"><div class="col-md-2 col-sm-4 col-xs-12 col-size">
					<div class="border">
						<img class="img-fit"src="https://www.pleacher.com/handley/lessons/calculus/q3a2002.gif">
						<p class="p">Calculus 1 Exam 1 Fall 2017</p>
						<p class="p">Professor: Lorem</p>
					</div></a>
					<button type="button" class="btn btn-primary" id="add-to-cart">Add to Cart ($1)</button>
				</div>

				<a href="Exam-Details.html"><div class="col-md-2 col-sm-4 col-xs-12 col-size">
					<div class="border">
						<img class="img-fit"src="https://www.pleacher.com/handley/lessons/calculus/q3a2002.gif">
						<p class="p">Calculus 1 Exam 1 Fall 2017</p>
						<p class="p">Professor: Lorem</p>
					</div></a>
					<button type="button" class="btn btn-primary" id="add-to-cart">Add to Cart ($1)</button>
				</div>
				<a href="Exam-Details.html"><div class="col-md-2 col-sm-4 col-xs-12 col-size">
					<div class="border">
						<img class="img-fit"src="https://www.pleacher.com/handley/lessons/calculus/q3a2002.gif">
						<p class="p">Calculus 1 Exam 1 Fall 2017</p>
						<p class="p">Professor: Lorem</p>
					</div></a>
					<button type="button" class="btn btn-primary" id="add-to-cart">Add to Cart ($1)</button>
				</div>
				<a href="Exam-Details.html"><div class="col-md-2 col-sm-4 col-xs-12 col-size">
					<div class="border">
						<img class="img-fit"src="https://www.pleacher.com/handley/lessons/calculus/q3a2002.gif">
						<p class="p">Calculus 1 Exam 1 Fall 2017</p>
						<p class="p">Professor: Lorem</p>
					</div></a>
					<button type="button" class="btn btn-primary" id="add-to-cart">Add to Cart ($1)</button>
				</div>

				<a href="Exam-Details.html"><div class="col-md-2 col-sm-4 col-xs-12 col-size">
					<div class="border">
						<img class="img-fit"src="https://www.pleacher.com/handley/lessons/calculus/q3a2002.gif">
						<p class="p">Calculus 1 Exam 1 Fall 2017</p>
						<p class="p">Professor: Lorem</p>
					</div></a>
					<button type="button" class="btn btn-primary" id="add-to-cart">Add to Cart ($1)</button>
				</div>

				</div>









	 <footer class="page-footer font-small blue" id="footer">


			<div class="footer-copyright text-center py-3">Copyright © 2018:
				<a href="https://mdbootstrap.com/bootstrap-tutorial/"> LVLbank.com</a>
			</div>


		</footer>
	</div>




	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
