<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LVL Test Bank-Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/Home.css">

</head>
<body>
	<div class="above-nav-bg">

		<% include ../partials/navbar %>



	<div class="jumbotron"id="jumbo-one">
		<div class="content">
			<div class="container">
				<h1 class="jumbo-text">WELCOME TO LVL TEST BANK</h1>
				<hr id="hr-one">
				<p class="jumbo-text">This website was designed to create a universal test bank which all students can access. You can purchase the exams we have posted for $1 each and use them to study for your exams, or post your own exams and earn money every time somebody uses one of them!</p>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"id="view-exams">
				<a href="Buy-Exams.html"><button type="button" class="btn btn-primary">View Exams</button></a>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="post-exam">
				<a href="#"><button type="button" class="btn btn-primary">Post an Exam</button></a>
			</div>
		</div>

	</div>


	<div class="jumbotron" id="jumbo-two">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"id="col1jum2">
				<hr id="hr-two">
				<h1>USE PAST EXAMS TO STUDY</h1>
				<p>Using exams for your classes from previous years has been a key study strategy at universities for many years now, but oftentimes the only students who have access to test banks are the ones in fraternities, sororities, or other groups on campus. Even then they are often old and outdated. With this website we are trying to create equal access to up-to-date study material for all students.</p>
				<a href="Buy-Exams.html"><button type="button" class="btn btn-primary" id="view-exams2">View Exams</button></a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"id="col2jum2">
				<img src="images/if_knowledge_277120.png"id="piccol2jum2">
			</div>
		</div>

	</div>
	<div class="jumbotron" id="jumbo-three">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"id="col1jum3">
				<img src="images/if_Payday_Loan_274999.png"id="piccol2jum2">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"id="col2jum3">
				<hr id="hr-two">
				<h1>POST YOUR OLD EXAMS</h1>
				<p>Posting the exams you have already taken is a win-win situation. You get to help the students at your school now taking the class, and you make money every time somebody buys one of your exams! </p>
				<a href="#"><button type="button" class="btn btn-primary" id="view-exams3">Post an Exam</button></a>
			</div>
		</div>
		<hr id="hr-three">
		<p id="imgsources">Image Sources: Icon Finder</p>

	</div>

	<% include ../partials/footer %>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
