<!DOCTYPE html>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LVL Test Bank-Post an Exam Form</title>
	<link rel="stylesheet" type="text/css" href="Post-Exam-Form.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700i" rel="stylesheet">

</head>
<body>
	<div class="main-container">
		


		<div class="above-nav-bg">

			<nav class="navbar" style="background-color: #92c6db;">

				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs 4">
						<a href="Home.html" id="hd1"><img src="LVLTestBank-KS04a-A01a.png" id="logo-nav"></a>
					</div>
				</div>
			</nav>
		</div>

		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #92c6db; padding-top:0px">
			<p class="navbar-text visible-xs-inline-block"></p>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span id="hamburger-text">Menu</span>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link navmenu-text" href="Home.html">Home</a>

					</li>

					<li class="nav-item">
						<a class="nav-link navmenu-text" href="Buy-Exams.html">Buy Exams</a>

					</li>
					<li class="nav-item active">
						<a class="nav-link navmenu-text" href="Post-Exam-Form.html">Post an Exam <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link navmenu-text" href="#">Honor Code</a>

					</li>
					<li class="nav-item">
						<a class="nav-link" id="navtext" href="#">Check Out</a>
					</li>
				</ul>

				<form class="form-inline my-2 my-lg-0">
					<button type="button" class="btn btn-outline-primary">Login</button>
					<button type="button" class="btn btn-outline-primary"id="registerbtn">Register</button>

				</form>
			</div>

		</nav>

		<div class="container">
			<form id="Post-Exam-Form" action="#" method="post">

				<div id="select-school">
					<h1>SCHOOL</h1>
					<select>
						<option value="" selected disabled>--School--</option>
						<option value="Lehigh University">Lehigh University</option>
						<option value="Rutgers University">Rutgers University</option>
						<option value="note">Want these in Alphabetical Order</option>
						<option value="note">And want dropdowns to be searchable</option>
						<option value="note">Need the option to add</option>
					</select>
				</div>
				<div id="select-department">
					<h1>DEPARTMENT</h1>
					<select>
						<option value="" selected disabled>Unavailable until you select a school</option>
						<option value="note">Want these in Alphabetical Order</option>
						<option value="note">And want dropdowns to be searchable</option>
						<option value="note">Need the option to add</option>
					</select>
				</div>
				<div id="select-course">
					<h1>COURSE NAME</h1>
					<select>
						<option value="" selected disabled>Unavailable until you select a school</option>
						<option value="note">Want these in Alphabetical Order</option>
						<option value="note">And want dropdowns to be searchable</option>
						<option value="note">Need the option to add</option>
					</select>
				</div>
				<hr>
				<div class="row">
					
					<div class="col-lg-6 col-sm-12" id="col1">

						<label>PDF File of Exam: <input type="file" name="exam-pdf"></label>
						<p>Note: We recommend you scan your exam as a pdf, but you can also use an app on your phone that allows you to combine pictures taken into a single pdf file.</p>
						

				</div>
				




				<div class="col-lg-6 col-sm-12" id="col2">


					<label>Professor Last Name: <span><select id="prof-name">
							<option value="" selected disabled>--Professor--</option>
							<option value="note">Want these in Alphabetical Order</option>
							<option value="note">And want dropdowns to be searchable</option>
							<option value="note">Need the option to add</option>
						</select>
					</span></label>

					<br>

					<label>Year of Exam: <select id="exam-year">
						<option value="" selected disabled>--Year--</option>
						<option value="2018">2018</option>
						<option value="2017">2017</option>
						<option value="2016">2016</option>
						<option value="2015">2015</option>
						<option value="2014">2014</option>
						<option value="2013">2013</option>
						<option value="2012">2012</option>
						<option value="2011">2011</option>
						<option value="2010">2010</option>
					</select></label>

					<br>

					<label>Semester of Exam: <select id="exam-semester">
						<option value="" selected disabled>--Semester--</option>
						<option value="fall">Fall</option>
						<option value="winter">Winter</option>
						<option value="spring">Spring</option>
						<option value="summer">Summer</option>
						
					</select></label>

					<br>

					<label>Exam Number: <select id="exam-num">
						<option value="" selected disabled>--Exam Num.--</option>
						<option value="exam-1">Exam 1</option>
						<option value="exam-2">Exam 2</option>
						<option value="exam-3">Exam 3</option>
						<option value="final-exam">Final Exam</option>
						<option value="note">Need the option to add custom</option>
					</select>


					</label>


				


					</div>
				</div>

				<div class="button-center">

				<a href="#"><button type="button" class="btn btn-primary" id="submit-form">Submit Exam</button></a>

				</div>



			</form>




		</div>

		<footer class="page-footer font-small blue" id="footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2018:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> LVLbank.com</a>
  </div>
  <!-- Copyright -->

</footer>





		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	</html>